/*Colors selection for the sections*/
.sectionheader{
    background:  #e3e0cf;
}

.sectionlight{
    background-color: #b8c6db;
    padding: 2rem;
}

.sectiondark{
    background-color: #f5f7fa;
    padding: 2rem;

}


/*styling the navbar*/
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 


.box> a >img{
    width: 100%;
    height: auto;
}

.box{
    padding: 30px;
    margin: 20px;
}

.boxes{
    display: flex;
    padding-left: 60px;
}
.responsive{
    width: 100%;
    height: auto;

}

.photosize{
    height: 200px;
    width: 200px;
    display: flex;
}

.sectionspace{
    padding-top: 50px;
}

.minspace{
    padding: 30px 20px;
}

.tag.-blue {
    background-color: #01818c;
}

.tag {
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    padding: 5px 8px 1px;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    position: absolute;
}

.fntselect{
    font-family: 'Lemonada', cursive, 'Orbitron', sans-serif;
    color: #fff;
}

.list-unstyled>li>a:hover{
    color: #000;
}

/*Colors for the logo icons*/
.fa-facebook-square{
    color: #4267B2;
}
.fa-instagram{
    color: #8a3ab9;
}
.fa-twitter-square{
    color: #26a7de;
}
a>i:hover{
    color: #000;
}
.fntlogin{
   font-family:  'Lemonada', cursive;
   color: #000;
}

.container.signincontainer{
    margin-top: 8%;
}

.signcard{
   padding: 40px 0px 20px;
    background-color: #C0C0C0;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5); 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5); 
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5); 
}

form.signform{
    max-width: 250px;
    margin: auto;
}