body{
	background: linear-gradient(to right, rgba(0,227,145,1) 0%, rgba(17,191,198,1)100%);}

.box{
	display: flex;
	padding-left: 60px;
}

.photosize{
	height: 200px;
	width: 200px;
	display: flex;
}

.navcenter{
	padding-left: 50px;
	background-color: rgba(1,129,140,0.2);
}

.sect{
	padding-top: 10px;
}


/*.tag.-blue {
    background-color: #083a81;
    background-color: #01818c;
}*/

/*.tag {
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    padding: 5px 8px 1px;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    position: absolute;
}*/

.imgcenter{
    display: block;
    margin: auto;
    width: 55%;
}


.footcolor{
	/*background-color: rgba(0,0,0,0.3);*/
	padding: 100px;
	padding-top: 15px;
}

.footer-menu{
	list-style: none;
}

li a{
	color: white;
	font-family: arial;
}

li a:hover{
	text-decoration: none;
	color: black;
}